h1{
    color: cornflowerblue;
    text-align: center;
}
.container{
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.container h2{
    text-align: center;
}
.form-group{
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid coral;
    border-radius: 3px;
    font-size: 16px;
}
.form-group input[type="submit"]{
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}
.form-group input[type="submit"]